<!-- ============================================================== -->
<!-- sidebar -->
<!-- ============================================================== -->
<mat-nav-list appAccordion *ngIf="!expert" flex-layout="center">
    <mat-list-item appAccordionLink *ngFor="let menuitem of menuItems.getMenuitem()" routerLinkActive="selected" group="{{menuitem.state}}">
        <a class="firstMenu" appAccordionToggle href="javascript:;" *ngIf="menuitem.type === 'sub'">
            <!--mat-icon>{{ menuitem.icon }}</mat-icon-->
            <span>{{ menuitem.name }}</span>
            <span fxFlex></span>
            <span class="label label-{{ badge.type }}" *ngFor="let badge of menuitem.badge">{{ badge.value }}</span>
            <mat-icon class="dd-icon">keyboard_arrow_down</mat-icon>
        </a>
        <mat-nav-list class="sub-item" *ngIf="menuitem.type === 'sub'">
            <mat-list-item *ngFor="let childitem of menuitem.children" routerLinkActive="selected">
                <a (click)="roleClick(childitem)" [routerLink]="['/', menuitem.state, childitem.state ]" class="relative" routerLinkActive="selected">{{ childitem.name}}</a>
            </mat-list-item>
        </mat-nav-list>
        <div class="saperator text-muted" *ngIf="menuitem.type === 'saperator'">
            <span>{{ menuitem.name }}</span>
        </div>
    </mat-list-item>

    <button [matMenuTriggerFor]="profile" class="menuProfile" color="Link"  style="float:right; margin-top: 10px; height:50px; width:50px; background-color:#ffffff; box-sizing: none"> <mat-icon style="text-align: center;font-size:50px; margin-right: 10px;" >account_circle</mat-icon> </button>
    <mat-menu #profile="matMenu" class="mymegamenu">
        <button mat-menu-item>
            <mat-icon>settings</mat-icon> Settings </button>
        <button mat-menu-item>
            <mat-icon>account_box</mat-icon> Profile </button>
        <button mat-menu-item>
            <mat-icon>notifications_off</mat-icon> Disable notifications </button>
        <button mat-menu-item>
            <mat-icon>exit_to_app</mat-icon> Sign Out </button>
    </mat-menu>

</mat-nav-list>

<mat-nav-list appAccordion *ngIf="expert">

    <mat-list-item appAccordionLink *ngFor="let menuitem of menuItemsExpert.getMenuitem()" routerLinkActive="selected" group="{{menuitem.state}}">
        <a class="firstMenu" appAccordionToggle href="javascript:;" *ngIf="menuitem.type === 'sub'">
            <!--mat-icon>{{ menuitem.icon }}</mat-icon-->
            <span>{{ menuitem.name }}</span>
            <span fxFlex></span>
            <span class="label label-{{ badge.type }}" *ngFor="let badge of menuitem.badge">{{ badge.value }}</span>
            <mat-icon class="dd-icon">keyboard_arrow_down</mat-icon>
        </a>
        <mat-nav-list class="sub-item" *ngIf="menuitem.type === 'sub'">
            <mat-list-item *ngFor="let childitem of menuitem.children" routerLinkActive="selected">
                <a (click)="roleClick(childitem)" [routerLink]="['/', menuitem.state, childitem.state ]" class="relative" routerLinkActive="selected">{{ childitem.name}}</a>
            </mat-list-item>
        </mat-nav-list>
        <div class="saperator text-muted" *ngIf="menuitem.type === 'saperator'">
            <span>{{ menuitem.name }}</span>
        </div>
    </mat-list-item>

    <button [matMenuTriggerFor]="profile" class="menuProfile" color="Link"  style="float:right; margin-top: 10px; height:50px; width:50px; background-color:#ffffff; box-sizing: none"> <mat-icon style="text-align: center;font-size:50px; margin-right: 10px;" >account_circle</mat-icon> </button>
    <mat-menu #profile="matMenu" class="mymegamenu">
        <button mat-menu-item>
            <mat-icon>settings</mat-icon> Settings </button>
        <button mat-menu-item>
            <mat-icon>account_box</mat-icon> Profile </button>
        <button mat-menu-item>
            <mat-icon>notifications_off</mat-icon> Disable notifications </button>
        <button mat-menu-item>
            <mat-icon>exit_to_app</mat-icon> Sign Out </button>
    </mat-menu>
</mat-nav-list>
