<!-- ============================================================== -->
<!-- Colored Card row-->
<!-- ============================================================== -->
<div fxLayoutAlign="center center">

</div>

<div fxLayout="row" >
  <div fxFlex.gt-xs="100%" style="background:#e8e9ea; height:400px; " >
      <div fxLayoutAlign="center" style="background:#e8e9ea;">
        sdfsdfds
      </div>
  </div>
</div>


<div fxLayout="row" >

  <div fxFlex.gt-sm="33.3%" style="height:50px; background:#e8e9ea;">
    <mat-card>
      <mat-card-content>
        Milano
      </mat-card-content>
    </mat-card>
  </div>

  <div fxFlex.gt-sm="33.3%" style="height:50px; background:#e8e9ea;">
    <mat-card>
      <mat-card-content>
        <img src="assets/images/monkey/m5.png" name="aboutme" width="100%" height="100%" border="0">
      </mat-card-content>
    </mat-card>
  </div>

  <div fxFlex.gt-sm="33.3%" style="height:50px; background:#e8e9ea;">
    <mat-card>
      <mat-card-content>
        Dublino
      </mat-card-content>
    </mat-card>
  </div>

</div>
