<!-- ============================================================== -->
<!-- Simple four boxes Row -->
<!-- ============================================================== -->
<div >
  <!-- column -->


    <div style="width:100%; height:700px; background-color: white">
      <agm-map [latitude]="lat" [longitude]="lng" [zoom]="2" style="width:100%; height:90%;">
        <agm-marker *ngFor="let p of profilesMap" (markerClick)="clickedMarker(p)" [latitude]="p.location[1]" [longitude]="p.location[0]"></agm-marker>
      </agm-map>
    </div>


  <!-- column -->
</div>
