/*
Template Name: Material Pro Admin
Author: Themedesigner
Email: niravjoshi87@gmail.com
File: scss
*/
/**
 * Table Of Content
 *
 * 	1. Globals
 *	2. Headers
 *	3. Navigations
 *	4. Banners
 *	5. Footers
 *	6. app
 *	7. Widgets
 *	8. Custom Templates
 */

@import 'variable';
@import 'icons/themify-icons/themify-icons.css';
@import 'icons/font-awesome/css/font-awesome.css';
@import 'spinner';
@import 'app';
@import 'header';
@import 'widgets';
@import 'pages';
@import 'sidebar';
@import 'responsive';
@import 'rtl';

.chat-footer {
    position: fixed;
    width: 75%;
    bottom: 0;
}

input[type="button" i], input[type="submit" i], input[type="reset" i], input[type="file" i]::-webkit-file-upload-button, button{
  background-color: #ffffff;
  border: none;
}

#snav .mat-nav-list{
  border-bottom: 1px solid #cecece;

}

.firstMenu{
  margin-top: 15px;
  padding: 80px;

}

.menuProfile{
  margin-top: 150px;
}

#snav .mat-nav-list .mat-list-item.selected > .mat-list-item-content > a {
    background: #ffffff;
    //border-radius: 4px;
//    border-bottom: 1px solid #416b57;
    color: black;
    text-decoration: none!important;
}

a:hover,a:link,a:visited {
  color: black;
  text-decoration: none!important;
}

a:link{
  text-decoration: none!important;
}

// Red Theme
@import 'colors/red';
.danger {
  @include angular-material-theme($red-app-theme);
}

// Blue Theme
@import 'colors/blue';
.blue {
  @include angular-material-theme($blue-app-theme);
}

// Green Theme
@import 'colors/green';
.green {
  @include angular-material-theme($green-app-theme);
}

// Dark Theme
@import 'colors/dark';
.dark {
  @include angular-material-theme($dark-theme);
}
